<%= render 'layouts/navbar'%>

<h1>Bienvenido</h1>

<div class="jumbotron">
  <h1>Actualiza FC!</h1>
  <p>...</p>
  <p>
  	<a class="btn btn-success btn-lg" href="" role="button">Actualizar material</a>
  </p>
</div>

<p></p>

<br>

<%= link_to 'Nuevo material', new_fichacortum_path %>

<%= render 'layouts/footer' %>